{{extend 'layout.html'}}
<h1>Menu</h1>
<hr/>
{{ for x in rows: }}
<div class='row'>
    <img class='col col-lg-4 col-md-6 col-sm-6 col-xs-12' src="{{=URL('download',args=x.image)}}" alt='image' />
    <div class='col col-lg-8 col-md-6 col-sm-6 col-xs-12'>
         <p class='lead'>
            <b>{{=x.product_name}}</b>
        </p>
        <p>
            <b>${{=x.current_price}}</b>
        </p>
        <p>
            {{=x.description}}
        </p>
        <p>
            {{=x.product_availability}}
        </p>
        #add to cart button
        <p>
            <form method=post action='buy'>
            <input type='hidden' name='productId' value='{{=x.id}}'/>
            <input type='text' size=2 name='qty' value='1'/>
            <input class='btn-primary' type='submit' value='Add to Cart'/>
            </form>
        </p>
    </div>
</div>
<hr/>
{{pass}}
<a href='buy'>View Cart</a>
